body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: teal;

    text-align: center;
    padding: 10px;
    width: 100%;
    height: auto;
    margin: auto;
}

footer {
    background-color: teal;
    padding: 10px;
    width: auto;
    height: 50px;
    margin: auto;
}

footer p {
    margin-top: 0px;
    margin-left: auto;
    color: lightcyan;
}

footer #date {
    margin-top: 30px;
    font-style: italic;
    margin-left: auto;
    color: lightcyan;
}

/*small screens*/

@media only screen and (max-width: 37.5em) {
    main {
        margin: 0 auto;
        display: block;
        font-size: 0.8rem;
        grid-template-columns: 1fr;
    }

    section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    section img {
        width: 100%;
    }
    
}

/*medium screens*/


@media only screen and (min-width: 37.5em) and (max-width:60em) {
    main {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;
    }

    section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    section img {
        width: 100%;
    }

    
}


/*large screens*/


@media only screen and (min-width: 60em)  {
    main {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 0.8rem;
    }

    section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    section img {
        width: 100%;
    }

    
}
