body {
font-family: 'Montserrat', 'Roboto';
width: 100%;
margin: 0;
padding: 0;


}

h1{
    margin-top: 50px;
}

.logo {
    display: flex;
    width: 150px;
    justify-content: flex-start;
}

nav {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 50px;
}

nav a {
    color: #F2D0C6; 
    text-align: center;
    padding: 35px;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #0C356B;
    color: #F2D0C6;
    text-align: center;
    width: 100%;
    flex-direction: row;
  }
  
.herogrid {
    display: grid;
    grid-template-columns: 300px 3fr 1fr;
    margin: 10px auto;
    column-gap: 10px;
    
}

.weather {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 300px;
    background: radial-gradient(#F2D0C6, #0C356B);
    font-weight: bold;
    text-align: center;
    border-radius: 60px/15px;
        
}
.weather h2{
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: roboto;
}
.weather-image {
    margin-top: 0;
    width: 150px;
    height: 150px;
    
  
}
.herodiv {
    display: flex;
    flex-direction: center;
    }


.members {
    border: 1px solid;
    height: 300px;
}

.join {
    position: absolute;
    margin-top: 300px;
    margin-left: 320px;
    width: 200px;
    background: radial-gradient(#eee, #0C356B);
    border: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem;
    text-align: center;
    border: 2px solid #0C356B;
    font-weight: bold;
    }



div h2 {
    font-size: 2em;
    margin-top: 50px;
}

div p {
    font-size: 1em;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto';
}
p{
    font-family: 'Roboto';
}





/*small screens*/

@media only screen and (max-width: 37.5em) {
    main {

        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        text-align: center;
        flex-direction: column;
    }

    header {
        display: flex;
        background-color: #0C356B;
        color: #eed9d3;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin: auto;
        flex-direction: column;
    }
    h1{
        margin-top: 30px;
    }
    #hamButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: fit-content;
        font-size: 1.5rem;
        padding: .5rem;
        color:#0C356B;
        background-color: #eed9d3;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #0C356B;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        padding: 1.15rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #eed9d3;
    }
    .navigation li a:hover {
        background-color:  #368DFF;
        color: #eed9d3;
        font-weight: 700;
    }
    
    /* when the button is clicked - the responsive class is added and accounted for here */
    .navigation.responsive li {
        display: block;
        width: 100%;
    }
    .navigation.responsive li a {
        display: block;
    }

    .herogrid {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        column-gap: 10px;
        
    }
    #hero{
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .weather {
        flex-direction: column;
        border: 1px solid;
        height: 300px;
            
    }
    .news-grid {
        flex-direction: column;
        border: 1px solid;
        justify-content: center;
            
    }
.logo {
    width: 200px;
    margin: auto;

}

.join {
    position: absolute;
    margin-top: 200px;
    margin-left: 150px;
}

footer {
    background-color: #0C356B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: auto;
    height: auto;
    margin: auto;
    
}

footer p {
    display: flex;
    color: #F2D0C6;
    margin: 5px;

}

footer .logo {

    margin: auto 0;
    width: 100px;

}

footer #date {
    margin-top: 50px;
    font-style: italic;
    margin-left: auto;
    color: #F2D0C6;
}
}

/*medium screens*/


@media only screen and (min-width: 37.5em) and (max-width:60em) {
    main {

        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        text-align: center;
    }

    header {
        display: flex;
        background-color: #0C356B;
        color: #eed9d3;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: space-around;
    
    }
    h1{
        margin-top: 50px;
    }

    

    #hamButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: fit-content;
        font-size: 1.5rem;
        padding: .5rem;
        color:#0C356B;
        background-color: #eed9d3;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #0C356B;
    }
    #hero{
        width: 600px;
        height: 300px;
    }
    .navigation li {
        display: none;

    }
    .navigation li a {
        padding: 1.15rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #eed9d3;
    }
    .navigation li a:hover {
        background-color:  #368DFF;
        color: #eed9d3;
        font-weight: 700;
    }
    
    /* when the button is clicked - the responsive class is added and accounted for here */
    .navigation.responsive li {
        display: block;
        width: 100%;
    }
    .navigation.responsive li a {
        display: block;
        width: 100%;
    }
    
}