@media only screen and (min-width: 60em)  {
    body {
        font-family: 'Montserrat', 'Roboto';
        width: 100%;
        margin: 0;
        padding: 0; }

    .logo {
        display: flex;
        width: 150px;
        justify-content: flex-start;
        }
    
    header {
        display: flex;
        background-color: #0C356B;
        color: #eed9d3;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: space-around;
    
    }
    nav {

        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 50px;
    }
    
    nav a {
        color: #F2D0C6; 
        text-align: center;
        padding: 35px;
        align-items: center;
    }
    
    .banner {
        display: flex;
        justify-content: center;
        background-color: #0C356B;
        color: #F2D0C6;
        text-align: center;
        width: 100%;
        flex-direction: row;
      }
      
    h1{
        margin-top: 50px;
    }
    
    #hamButton {
        display: none; /* hide hamburger button */
    } 
    
    .navigation {
        display: flex;
        flex-direction: row;
        list-style-type: none; 
        padding: 0;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-left: 10px;
        
    }
    .event{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin:10px;
        padding: 10px;
        background: radial-gradient(#eeee, #368DFF);
        text-align: center;
        
    }
    .hero{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        text-align: center;
    }
    #heroimg {
        width: 880px;
        height: 600px;
        margin-left: 40px;
        
    }
    .cta {
        position: absolute;
        margin-top: -150px;
        margin-left: 370px;
        width: 200px;
        background: radial-gradient(#eee, #0C356B);
        border: 1px solid rgba(0,0,0,.1);
        padding: 1.5rem;
        text-align: center;
        border: 2px solid #0C356B;
        font-weight: bold;
        }
    .weather
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2; 
        margin: 10px;
        background: radial-gradient(#eeee, #368DFF);
        text-align: center;
        
        
    }

    .weather-box {
        display: grid;
        grid-template-columns: 1fr 1fr;

    
    }
    .img-weather {
        grid-column-start: 1;
        width: 120px;
        height: 120px;
    }
    .info-weather {
        grid-column-start: 2;
        line-height: 90%;
    }
    .info-weather h3{
        font-size: 2em;
    }
    .spotlight1
    {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1; 
        margin:10px;
        background: radial-gradient(#eeee, #F2D0C6);
        text-align: center;
        padding:10px;
    }
    .spotlight2
    {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 2; 
        margin:10px;
        background: radial-gradient(#eeee, #F2D0C6);
        text-align: center;
        padding:10px;
    }
    .spotlight3
    {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 3; 
        margin:10px;
        background: radial-gradient(#eeee, #F2D0C6);
        text-align: center;
        padding:10px;
    }
    .join
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3; 
        margin:10px;
        background: radial-gradient(#eeee, #368DFF);
        text-align: center;
        padding:10px;
    }

    .newsrelease
    {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        margin:10px;
        border: 1px solid #0C356B;
        padding:20px;
    }

    #image-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        margin-left: 100px;
        
      }
      
      .lazy-image {
    
        width: 600px;
        height: 400px;
        background-color: lightgray;
        transition: opacity 0.5s ease-in-out;
        margin-bottom: 20px;
        border-radius: 0px 50px 0px 50px;
        
 
        
      }

      .info-discover {
        width: 600px;
        height: 400px;
    
      }

    .discover h1{
        text-align: center;
    }

    .discover p{
        margin-left: 100px;
    }
    footer {
        background-color: #0C356B;
        padding: 10px;;
        width: 100%;
        height: 100px;
        margin: auto; 
        display: flex;
      
        
    }
    
    footer .logo {
    
        margin-top: 0;
        width: 100px;
    
    }
    
    footer p {
        margin-top: 50px;
        margin-left: auto;
        color: #F2D0C6;
    }
    
    footer #date {
        margin-top: 50px;
        font-style: italic;
        margin-left: auto;
        color: #F2D0C6;
    }

    .join-container{

    
      max-width: 800px;
      padding: 10px;
      margin:0 auto;
      height: 700px;
      background-color: lightgray;
      justify-content: center;
      border-radius: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .join-container h1 {
        text-align: center;
    }

.form-join{
    display: grid;
    gap: 10px;
    margin-left: 30px;
}

.form-input label {
    display: block;
    font-weight: bold;
  }

  .form-input input,
.form-input select,
.form-input textarea {
  width: 95%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-input textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="submit"] {
  background-color: #0C356B;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
}

input[type="submit"]:hover {
  background-color: #368DFF;
}







}