@media only screen and (min-width: 1200px)  {

body {
    font-family: 'Lato', 'Libre Franklin', 'Montserrat';
    width: 100%;
}
header {
    display: flex;
    background-color: #4A7010;
    justify-content: space-around;
    text-align: center;
    
}

.logo {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    position: absolute;
    margin-top: -20px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

/* nav a {
    padding: 35px;
} */
.socials {
    width: 30px;
    padding: 20px;
    margin-top: 20px;

}

.socials-linkedin {
    margin-top: 10px;
    width: 60px;
}

#hero-img {
    width: 100%;
}
#hamButton {
    display: none;
}
.navigation{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 50px;


    
}
.navigation li{
    display: block;
    /* flex: 1 1 auto; */
}

.navigation a {
    padding-left:200px;

    color: white;
    font-family: Libre Franklin;
    justify-content: space-evenly;
    
    
}

.cta {
    background:radial-gradient(#7CBD1A,#4A7010);
    border: 1px solid (#577031);
    padding:30px;
    width: 400px;
    color: white;
    font-size: 20px;
    font-family: Libre Franklin;
    position: absolute;
    margin-top: -300px;
    margin-left:600px;
    text-align: center;
}

footer {
    background-color:#7CBD1A;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
}

.home-container {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns:  1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 800px;
    
}
.drinks-served {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
 

}

.weather-box{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 20px;
    text-align: center;
    background-color: #7CBD1A;

}
.weather-box h2{
    font-family: Libre Franklin;
}

.locations {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid;

}

#phone {
    color:white;
    margin-top: 15px;
    margin-right: 20px;;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.modified-date{
    align-items: center;
    
}

/* .forecast-weather{
   display: flex;
   flex-direction: row;

}

.forecast-cards {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .forecast-card {
    flex: 1 0 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  } */

  .weather{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }


  .current-temp{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    
  }
  .current-weather{
    font-family: roboto;
    font-size: 30px;
  }

  .forecast-cards{
    display: grid;

  }
  
  .forecast-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .drink-container {
    max-width: 800px;
    padding: 10px;
    margin:0 auto;
    height: 700px;
    justify-content: center;
    border-radius: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: lato;
  }
  .drink-container h1 {
      text-align: center;
  }

#drink-form{
    display: grid;
    gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.form-input label {
    display: block;
    font-weight: bold;
  }

.form-input input,
.form-input select,
.form-input textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-input textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="submit"] {
  background-color: #7CBD1A;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
}

input[type="submit"]:hover {
  background-color: #577031;
}

.drinks-served{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Lato;
    padding: 30px;
    background-color: #7CBD1A;

}
#drinks{
    font-size:3em;
    color:white;
    
    
}

}